.board {
  max-width: 600px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.cell {
  cursor: pointer;
  flex: 1 0 33%;
  border: 1px solid black;
}

.x {
  position: relative;
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
}

.x::before,
.x::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px; /* Thickness of the lines */
  background-color: black; /* Color of the lines */
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.o {
  position: relative;
  width: 180px; /* Adjust size as needed */
  height: 180px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: black; /* Color of the outer circle */
  margin: 10px;
}

.o::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%; /* Adjust size as needed */
  height: 60%; /* Adjust size as needed */
  background-color: white; /* Color of the inner circle */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.boardContainer {
  display: flex;
  width: 100%;
}

.boardContainer > div {
  width: 33%;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
